# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Flask / DB
instance/
*.db
*.sqlite3

# macOS
.DS_Store

# Logs
*.log

# Build artifacts
dist/
build/